{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'agents:agent-list' %}">
        Volver
    </a>
    <h1 class="text-2xl text-gray-800 mt-3">
        ¿Seguro que querés eliminar este agente?
    </h1>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-flex text-yellow-300 bg-blue-500 hover:bg-yellow-300 hover:text-blue-500 px-3 py-2 rounded-md">
            Eliminar
        </button>
    </form>
</div>
{% endblock content %}